<div class="window">
  <mat-toolbar
    color="primary">
    <span>Json Parser for C# and TypeScript</span>
  </mat-toolbar>
  <form [formGroup]="inputForm">
    <mat-tab-group>
      <mat-tab label="Json to C# Class">
        <span>Input Json String: </span>
        <br>
        <textarea
          class="mt-3"
          rows="10"
          cols="30"
          formControlName="jsonStringInputCSharp">
        </textarea>
        <br>
        <span>Output C# Class String: </span>
        <br>
        <textarea
          class="mt-3"
          rows="10"
          cols="30"
          [readOnly]="true"
          formControlName="cSharpClassString">
        </textarea>
      </mat-tab>
      <mat-tab label="Json to TS Interface">
        <span>Input Json String: </span>
        <br>
        <textarea
          class="mt-3"
          rows="10"
          cols="30"
          formControlName="jsonStringInputTypeScript">
        </textarea>
        <br>
        <span>Output TS Interface String: </span>
        <br>
        <textarea
          class="mt-3"
          rows="10"
          cols="30"
          [readOnly]="true"
          formControlName="typeScriptInterfaceString">
        </textarea>
      </mat-tab>
    </mat-tab-group>
    <button
      mat-raised-button
      (click)="resetForm()"
      color="primary">Reset
    </button> &nbsp;
    <button
      *ngIf="inputForm.controls.cSharpClassString.value &&
        !inputForm.controls.cSharpClassString.value.startsWith('Invalid')"
      mat-raised-button
      class="mat-success"
      (click)="copyText(0)">Copy C#
    </button> &nbsp;
    <button
      *ngIf="inputForm.controls.typeScriptInterfaceString.value &&
        !inputForm.controls.typeScriptInterfaceString.value.startsWith('Invalid')"
      mat-raised-button
      (click)="copyText(1)"
      class="mat-success">Copy TS
    </button>
  </form>
</div>

<p *ngIf="isClickCopyCS || isClickCopyTS">{{ showCopyMessage }}</p>

